li.category__list-item
  form(action='#' method='POST')
    input(type='text' name='category-1' id='modify-form-category-1' value='Жизнь и путешествия')
    label(for='modify-form-category-1')
      span.visually-hidden Редактировать категорию
    button.category__button.button.button--category(type='submit') Сохранить
    button.category__button.button.button--category(type='button') Удалить
li.category__list-item
  form(action='#' method='POST')
    input(type='text' name='category-2' id='modify-form-category-2' value='Путешествия')
    label(for='modify-form-category-2')
      span.visually-hidden Редактировать категорию
    button.category__button.button.button--category(type='submit') Сохранить
    button.category__button.button.button--category(type='button') Удалить
li.category__list-item
  form(action='#' method='POST')
    input(type='text' name='category-3' id='modify-form-category-3' value='Дизайн и программирование')
    label(for='modify-form-category-3')
      span.visually-hidden Редактировать категорию
    button.category__button.button.button--category(type='submit') Сохранить
    button.category__button.button.button--category(type='button') Удалить
li.category__list-item
  form(action='#' method='POST')
    input(type='text' name='category-4' id='modify-form-category-4' value='Другое')
    label(for='modify-form-category-4')
      span.visually-hidden Редактировать категорию
    button.category__button.button.button--category(type='submit') Сохранить
    button.category__button.button.button--category(type='button') Удалить
li.category__list-item
  form(action='#' method='POST')
    input(type='text' name='category-5' id='modify-form-category-5' value='Личное')
    label(for='modify-form-category-5')
      span.visually-hidden Редактировать категорию
    button.category__button.button.button--category(type='submit') Сохранить
    button.category__button.button.button--category(type='button') Удалить
