nav.header__nav
  ul.header__nav-list
    li.header__list-item
      a.header__registration(href='#') Регистрация
      //a.header__popup(href='#') Регистрация // НА СТРАНИЦАХ РЕГИСТРАЦИИ И ВХОДА
    li.header__list-item
      a.header__enter(href='#') Вход с паролем
