li.themes__item
  a.themes__item-link(href="#")
    | Автомобили
    +space
    sup 88
li.themes__item
  a.themes__item-link(href="#")
    | Удаленная работа
    +space
    sup 13
li.themes__item
  a.themes__item-link(href="#")
    | Бизнес
    +space
    sup 13
li.themes__item
  a.themes__item-link(href="#")
    | Путешествия
    +space
    sup 13
li.themes__item
  a.themes__item-link(href="#")
    | Дизайн и обустройство
    +space
    sup 13
li.themes__item
  a.themes__item-link(href="#")
    | Производство игрушек
    +space
    sup 22
li.themes__item
  a.themes__item-link(href="#")
    | UX & UI
    +space
    sup 22
