extends layout

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.main-page__greeting.title.title--big
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    //include partials/main-empty
    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        include partials/themes-item
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name Самое обсуждаемое
          +space
          span.hot__icon.hot__icon--fire
        //p.hot__empty Здесь пока ничего нет...
        ul.hot__list
          include partials/hot-list-item
      section.main-page__last.last
        h2.last__name Последние комментарии
          +space
          span.last__icon.last__icon--cloud
        //p.last__empty Здесь пока ничего нет...
        ul.last__list
          include partials/last-list-item
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        include partials/preview-item
    .preview__toggle-wrapper
      include partials/pagination
